body {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    background-color: #ffffff;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header, section, footer {
    padding: 20px;
}

header {
    background: rgb(17, 89, 110);
    color: #fff;
    text-align: center;
}

header ul {
    list-style: none;
    padding: 0;
}

header ul li {
    display: inline;
    margin: 0 10px;
}

header a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

h1, h2 {
    font-family: 'Lora', serif;
    color: #1b36af; 
}

nav ul li a:hover, nav ul li a:focus {
    color: #17ac93; 
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th {
    background-color: #855E42;
    color: #fff;
    padding: 10px;
}

td {
    padding: 10px;
    text-align: center;
}

section {
    background: #fff;
    margin: 20px 0;
}

form input[type="text"], form input[type="email"], form input[type="submit"] {
    padding: 10px;
    margin-bottom: 10px;
}

form input[type="submit"] {
    background-color: #164463;
    color: #fff;
    border: 0;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #C0A080;
}

footer {
    text-align: center;
    background: #333;
    color: #fff;
}

footer a {
    color: #C0A080;
}

img {
    max-width: 100%;
    height: auto;
}
.contact-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;   
}

.contact-form .form-group {
    margin-bottom: 15px;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
}

.contact-form input[type="text"],
.contact-form input[type="email"] {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    background-color: #183e70;
    color: white;
    
    transition: background-color 0.3s ease;
}

.contact-form input[type="submit"]:hover {
    background-color: #16858d;
}
.contact-form textarea {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: vertical; 
}
.phone-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.phone-item {
   
    flex-basis: calc(25% - 25px); 
    text-align: center;
}

.company-name {
    text-transform: uppercase;
    font-size: 70px;
   color: #00e1ff;
}




@keyframes uvecanjeSlike {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.10);
    }
}

.phone-item img:hover {
    animation: uvecanjeSlike 0.8s forwards; 
}

